
{% extends 'base.html' %}
{% load static %}
{% block title %} Campaign - {{block.super}} {% endblock %}

{% block content %}

    <section class="campaign-section">
        <div class="container-fluid">
          <h3 class="fw-bold text-center mt-2">
            <a href="{% url 'campaign' %}">Campaigns List</a>
          </h3>
          <hr>
          <div class="row mb-2">
            <div class="col">
              <div class="float-start">
                  <a href="{% url 'new-campaign' %}" class="btn btn-secondary">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
                <div class="float-end">
                  <!-- Search Form -->
                  <form class="d-flex">
                      <div class="input-group">
                          <input type="text" name="q" class="form-control" placeholder="Search Here ..">
                          <button type="submit" class="btn btn-secondary">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </form>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="table-responsive text-nowrap">
                  <table class="table table-bordered table-hover">
                      <thead class="table-dark text-white">
                          <tr class="text-center">
                              <th>ID</th>
                              <th>From</th>
                              <th>Subject</th>
                              <th>Message</th>
                              <th>Time</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% if object_list %}
                            {% for obj in object_list %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td>{{ email }}</td>
                                    <td>{{ obj.subject }}</td>
                                    <td>{{ obj.message|safe|truncatechars:100 }}</td>
                                    <td class="text-center">{{ obj.created_at }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div class="alert alert-dark alert-dismissible fade show text-center" role="alert">
                                        <strong>Oops!</strong> No results found for 
                                        <span class="text-danger fw-bold mx-2">{{ query }}, </span> try a different search.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    
                                    <h5 class="text-center my-3">
                                        <a href="{% url 'campaign' %}" class="text-decoration-none">
                                            <i class="fa fa-undo"></i> Reload this Page!
                                        </a>
                                    </h5>
                                </td>
                            </tr>
                        {% endif %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
          <!-- Pagination -->
        <div class="row">
            <div class="col">
                {% include "pagination.html" with object_list=object_list %}
            </div>          
        </div>
        </div>
    </section>

{% endblock %}