{% extends "accounts/base_account.html" %}
{% block title %} Reset Password - {{block.super}} {% endblock %}


{% block content %}


    <div class="container" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
                <div class="login bg-white shadow">
                    <div class="card">
                        <h5 class="card-header pb-0 text-center">
                            <a href="{% url 'home' %}" class="text-decoration-none fw-bold" style="font-size:24px">
                                Smart Mailer
                            </a>
                            <p class="text-danger">
                                Reset your password
                            </p>
                        </h5>
                        <div class="card-body">
                            <br>
                            <!-- Custom Design -->
                             <form method="post">
                                 {% csrf_token %}
                                 <div class="form-group mb-4">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="email" name="email" class="form-control" placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="submit-btn">
                                        Send password reset email
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
