<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link dashboard-link" href="{% url 'campaign' %}">
            <i class="fa fa-bullhorn"></i>
                <span>Campaigns</span>
            </a>
        </li>
        <!-- Contact -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'contact-us' %}">
                <i class="fas fa-user"></i>
                <span>Contact</span>
            </a>
        </li>
        <!-- More -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#setup-rule-nav" 
            data-bs-toggle="collapse" href="#">
                <i class="fas fa-comment-alt"></i>
                <span> Mores </span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="setup-rule-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'contact-list' %}">
                            <i class="fas fa-user" style="font-size: 13px;"></i>
                            <span>Contact Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'user_list' %}">
                            <i class="fas fa-user" style="font-size: 13px;"></i>
                            <span>User Us</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="#">
                        <i class="fas fa-envelope" style="font-size: 13px;"></i>
                        <span>Email</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-check-circle" style="font-size: 13px;"></i>
                        <span>Email verification</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Account -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="fas fa-user-cog text-dark"></i>
                <span>Account</span>
            </a>
        </li>
        <!-- Privacy Policy -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'privacy_policy' %}">
                <i class="fas fa-user-shield text-dark"></i>
                <span>Privacy Policy</span>
            </a>
        </li>
        <!-- Terms and Conditions -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'terms_and_condition' %}">
                <i class="fas fa-file-contract text-dark"></i>
                <span>Terms & Conditions</span>
            </a>
        </li>
    </ul>
    <!-- Custom Button at Bottom -->
</aside>
